## ¿Qué es Pandas?

Pandas es una de librería de Python para la manipulación y el análisis de datos basada en NumPy.

![](files/320px-Pandas_logo.png)

In [4]:
import pandas as pd
import numpy as np

### Series
La Serie es el componente básico de Pandas. Una serie es una estructura de datos unidimensional indexada basada en el array de NumPy.

La ventaja de las Series son:
- Posibilidad de asignarle un nombre.
- Mayor flexibilidad en los índices.

El constructor pd.Series() se utiliza para construir una serie a partir de distintos elemendos tales como valores escalares, listas, tuplas, diccionarios, arrays, etc.

Probemos definir una serie a partir de una lista:

In [5]:
s1 = pd.Series([1, 3, 5, np.nan, 6, 8])
s1

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Las series se crean con un índice automático que empieza en cero y termina en seis (recordar que Python empieza a contar desde cero y se refiere al último elemento de un rango de forma EXclusive.

In [6]:
s1.index

RangeIndex(start=0, stop=6, step=1)

En este caso el valor de stop coincide con la cantidad de elementos de nuestro índice, pero atención que esto solo sucede porque nuestro índice va uno en uno (step). Si nuestra intención es conocer cuántos elementos tiene nuestro índice, es más apropiado usar el método size.

In [7]:
s1.size

6

Nosotros podemos redefinir nuestro índice, probemos con un índice que empiece en 5 y se incremente de 5 en 5.

In [8]:
s1.index = pd.RangeIndex(start=5, stop=35, step=5)
s1

5     1.0
10    3.0
15    5.0
20    NaN
25    6.0
30    8.0
dtype: float64

Los índice también pueden ser del tipo string, ello lo podemos lograr pasándole una lista con strings en el argumento **index**:

In [9]:
s2 = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

Como habíamos dicho, también podemos podemos crear series a partir de otros elementos, por ejemplo un diccionario.

**Recordemos que los diccionarios se definen de la siguiente manera:**
diccionario = {clave_1: valor_1, clave_2: valor_2, clave_n: valor_n}

Cuando convertimos un diccionario en una Serie, las claves de este pasarán a ser el índice.

In [10]:
notas_parcial = {"Ana": 8, "Pedro": 7, "Laura": 9, "Martín": 8.5}
s3 = pd.Series(notas_parcial, name="Nota")
s3

Ana       8.0
Pedro     7.0
Laura     9.0
Martín    8.5
Name: Nota, dtype: float64

Además, aprovechamos y le agregamos un nombre a nuestra Serie con el argumento **name**, este nombre va ser el nombre de la columna en caso de convertir la Serie en una "tabla" o DataFrame (spoiler alert!).

In [11]:
df = pd.DataFrame(s3)
df

        Nota
Ana      8.0
Pedro    7.0
Laura    9.0
Martín   8.5

Antes de pasar a los dataframes, veámos algunos conceptos restantes de las series que también aplican a los dataframes. Recordemos a la que le habíamos cambiado el índice para que se incremente de 5 en 5.

#### reset_index

In [12]:
s1

5     1.0
10    3.0
15    5.0
20    NaN
25    6.0
30    8.0
dtype: float64

Si nosotros quisiéramos volver al índice original, deberíamos usar reset_index()

In [13]:
s1.reset_index()

   index    0
0      5  1.0
1     10  3.0
2     15  5.0
3     20  NaN
4     25  6.0
5     30  8.0

In [14]:
type(s1.reset_index())

pandas.core.frame.DataFrame

¿Por qué Pandas convirtió nuestra serie en un dataframe? Recordemos que las series son unidimensionales, por lo tanto solo pueden tener una sola columna. Pandas creó un nuevo índice pero a nuestro viejo índice lo convirtió en la columna "index" y esto es importante porque Pandas evitó que perdiéramos datos. En este ejemplo resulta abstracto, pero en el caso de las Notas (s3), si Pandas no preservara el índice original, hubiéramos perdido el nombre de los alumnos.

Si no nos interesa conservar el índice anterior o queremos evitar que Pandas convierta la serie en un dataframe utilizamos el argumento drop en True.

In [15]:
#Notas
s3.reset_index(drop=True)

0    8.0
1    7.0
2    9.0
3    8.5
Name: Nota, dtype: float64

#### Inplace

Nosotros podemos resetear el índice de dos maneras:

1. **Redefiniendo el objeto:** "pisándolo" con uno nuevo.
2. **Sobre el mismo objeto:** (inplace=True).

Veamos cómo hacerlo de las dos formas.

In [16]:
#1) Redefiniendo el objeto
#Creamos una serie para resetearle el índice
s4 = pd.Series([100,110,120,110], index=[1001,1002,1003,1004])
s4

1001    100
1002    110
1003    120
1004    110
dtype: int64

In [17]:
#Reseteamos el índice descartando el índice anterior (drop=True)
s4= s4.reset_index(drop=True)
s4

0    100
1    110
2    120
3    110
dtype: int64

**Lo que hicimos fue redefinir el objeto s4 indicándole que será igual al objeto s4 pero con el índice reseteado.**

Ahora probemos hacerlo de la segunda manera:

In [18]:
#2) Sobre el mismo objeto:

#Creamos una serie para resetearle el índice
s5 = pd.Series([100,110,120,110,np.nan], index=[1001,1002,1003,1004,1005])
s5

1001    100.0
1002    110.0
1003    120.0
1004    110.0
1005      NaN
dtype: float64

In [19]:
#Reseteamos el índice sin guardar el índice anterior (drop=True)
s5.reset_index(inplace= True, drop=True)
s5

0    100.0
1    110.0
2    120.0
3    110.0
4      NaN
dtype: float64

**En este caso, al utilizar el argumento inplace en True, no tuvimos necesidad de definir nuevamente el objeto (s5 = ...)**

#### value_counts
Con el método value_counts() podemos obtener la distribución de frecuencias de una serie, por defecto omite los valores nan.

* **ascending= True:** Ordena de menor a mayor.
* **normalize= True:** Expresa los resultados al tanto por uno.
* **dropna= True:** Omite los nan.

In [20]:
s5.value_counts()

110.0    2
100.0    1
120.0    1
dtype: int64

In [21]:
s5.value_counts(ascending=True, normalize=True, dropna=False)

100.0    0.2
120.0    0.2
NaN      0.2
110.0    0.4
dtype: float64

### DataFrames

Un DataFrame es una estructura de datos indexada bidimensional con columnas de tipos potencialmente diferentes. Puede pensarse como una tabla en un hoja de cálculo, una tabla de una base de datos SQL, o un diccionario de objetos.

Podemos construir dataframes a partir de listas anidadas, tuplas anidadas, arrays, diccionarios, series o a través de la lectura de archivos.

Cada columna del dataframe puede ser te un tipo distinto, más adelante veremos esto.

* **Desde listas anidadas:**

Cada una de las listas anidadas, será una fila de nuestro dataframe. La cantidad de elementos que contengan nuestras listas determinará la cantidad de columnas. En nuestro caso, nuestra primera lista anidada tiene solo tres elementos, pero las restantes contienen cuatro, por ello la primer fila se completa automáticamente con un valor NaN.

In [22]:
Lista_anidada = [[0,1,2] , [3,4,5,6] , [7,8,9,np.nan]]
Lista_anidada

[[0, 1, 2], [3, 4, 5, 6], [7, 8, 9, nan]]

In [23]:
pd.DataFrame(Lista_anidada)

   0  1  2    3
0  0  1  2  NaN
1  3  4  5  6.0
2  7  8  9  NaN

Pero nuestro dataframe todavía es muy poco legible, si no asignamos un nombre a priori, los nombres de las columnas estarán dados por números que, como todo en Python empiezan en cero. Empecemos bien y creemos un dataframe con nombres claros.

In [24]:
df1 = pd.DataFrame(Lista_anidada,
                   columns=["Columna_A", "Columna_B", "Columna_C","Columna_D"])
df1

   Columna_A  Columna_B  Columna_C  Columna_D
0          0          1          2        NaN
1          3          4          5        6.0
2          7          8          9        NaN

Al igual que en las series, también podemos personalizar los índices al crear el dataframe pasando los nombres de las columnas como una lista.

In [25]:
df1 = pd.DataFrame(Lista_anidada,
                   columns=["Columna_A", "Columna_B", "Columna_C","Columna_D"],
                  index= ["ID_1","ID_2","ID_3"])
df1

      Columna_A  Columna_B  Columna_C  Columna_D
ID_1          0          1          2        NaN
ID_2          3          4          5        6.0
ID_3          7          8          9        NaN

* **Desde tuplas anidadas:**

In [26]:
Tupla_anidada = ((0,1,2),(3,4,5,6),(7,8,9,np.nan))
Tupla_anidada

((0, 1, 2), (3, 4, 5, 6), (7, 8, 9, nan))

In [27]:
df2 = pd.DataFrame(Tupla_anidada,
                   columns=["Columna_A", "Columna_B", "Columna_C","Columna_D"],
                  index= ["ID_1","ID_2","ID_3"])
df2

      Columna_A  Columna_B  Columna_C  Columna_D
ID_1          0          1          2        NaN
ID_2          3          4          5        6.0
ID_3          7          8          9        NaN

El ejemplo anterior es bastante trivial, por eso utilizamos tuplas anidades en tuplas, lo más probable es que si nos encontramos con un script que convierte tuplas anidadas en un dataframe, estas estén anidadas en una lista ***[(x1,y1,z1),(x2,y2,z2)]*** en lugar de una tupla ya que las tuplas son elementos inmutables.

* **Desde diccionario:** 

En este caso, en cada clave definimos las columnas y en sus valores se encontrarán dentro de listas.

Diccionario = {"Clave: valor}

DataFrame desde diccionario = {"Columna": [cada,valor,de,la,columna]}

**Tener en cuenta que cuando creamos un dataframe desde un diccionario, cada lista que contenga los elementos debe tener la misma longitud.**

In [28]:
pd.DataFrame({"Columna_A": [0,3,7],
             "Columna_B": [1,4,8],
             "Columna_C": [2,5,9],
             "Columna_D": [np.nan,6,np.nan]
             })

   Columna_A  Columna_B  Columna_C  Columna_D
0          0          1          2        NaN
1          3          4          5        6.0
2          7          8          9        NaN

In [29]:
array = np.array([[0,1,2,np.nan],[3,4,5,6],[7,8,9,np.nan]])
pd.DataFrame(array, columns=["Columna_A", "Columna_B", "Columna_C","Columna_D"])

   Columna_A  Columna_B  Columna_C  Columna_D
0        0.0        1.0        2.0        NaN
1        3.0        4.0        5.0        6.0
2        7.0        8.0        9.0        NaN

#### Tipos de datos


| Pandas dtype     | Python type     | NumPy type     | Usage|
|-----------------|:---------------------:|:---------------------:|:---------------------:|
| object     | str     | string_, unicode_     | Text|
| int64     | int     | int_, int8, int16, int32, int64, uint8, uint16, uint32, uint64     | Integer numbers|
| float64     | float     | float_, float16, float32, float64     | Floating point numbers|
| bool     | bool     | bool_     | True/False values|
| datetime64     | NA     | datetime64[ns]     | Date and time values|
| timedelta[ns]     | NA     | NA     | Differences between two datetimes|
| category     | NA     | NA     | Finite list of text values |

**Recuerden que cada columna de puede contener datos de distinto tipo.**

Por ejemplo:

In [30]:
df3 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20210810'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo',
    'G': [1,2,1,2]
})
df3

     A          B    C  D      E    F  G
0  1.0 2021-08-10  1.0  3   test  foo  1
1  1.0 2021-08-10  1.0  3  train  foo  2
2  1.0 2021-08-10  1.0  3   test  foo  1
3  1.0 2021-08-10  1.0  3  train  foo  2

Inspeccionemos los tipos de nuestras columnas:

In [31]:
df3.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
G             int64
dtype: object

En nuestro ejemplo, tenemos números fraccionarios y enteros con distinto nivel de precisión, fechas, una variable ordinal (category) y una de tipo object que contiene solo datos de tipo string.

* **Importar datos desde archivos:**

En nuestro caso vamos a estudiar cómo importar archivos con extensión .csv pero también es posible convertir a dataframe archivos .txt, .json, .xlsx, xls, etc. Invitamos a leer la documentación de Pandas para ampliar este tema.

**¿Qué es un archivo .csv?**

Los archivos con extensión .csv (*comma-separated values*) son archivos de texto plano cuyos valores se encuentran separados por un delimitador, por lo general una ",".

Si abrimos un archivo csv en un bloc de notas veremos algo así:

*make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
AMC Concord,4099,22,3,2.5,11,2930,186,40,121,3.5799999,Domestic
AMC Pacer,4749,17,3,3,11,3350,173,40,258,2.53,Domestic
AMC Spirit,3799,22,,3,12,2640,168,35,121,3.0799999,Domestic
Buick Century,4816,20,3,4.5,16,3250,196,40,196,2.9300001,Domestic*

La primera fila representa el nombre de nuestras columnas (el header) y las restantes son las filas de nuestro dataframe.

In [32]:
df4 = pd.read_csv(
    'data/auto.csv',     # file path
    delimiter=',',       # delimitador ',',';','|','\t'
    header=0,            # número de fila como nombre de columna
    names=None,          # nombre de las columnas (ojo con header)
    index_col=0,         # que col es el índice
    usecols=None,        # que col usar. Ej: [0, 1, 2], ['foo', 'bar', 'baz']
    dtype=None,          # Tipo de col {'a': np.int32, 'b': str} 
    skiprows=None,       # saltear filas al inicio
    skipfooter=0,        # saltear filas al final
    nrows=None,          # n de filas a leer
    decimal='.',         # separador de decimal. Ej: ',' para EU dat
    quotechar='"',       # char para reconocer str
    #encoding=None,      # archivos con tilde y ñ por lo general utilizan "utf-8" etc 
)

df4

,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreig
make,,,,,,,,,,,
AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic
...,...,...,...,...,...,...,...,...,...,...,...
VW Dasher,7140,23,4.0,2.5,12,2160,172,36,97,3.74,Foreign
VW Diesel,5397,41,5.0,3.0,15,2040,155,35,90,3.78,Foreign
VW Rabbit,4697,25,4.0,3.0,15,1930,155,35,89,3.78,Foreign
VW Scirocco,6850,25,4.0,2.0,16,1990,156,36,97,3.78,Foreign
Volvo 260,11995,17,5.0,2.5,14,3170,193,37,163,2.98,Foreign

Si quisiésemos hacer el camino inverso y guardar el dataframe en csv...

In [33]:
df4.to_csv("data/df4_a_csv.csv",
           index=False,       #Index false para que no guarde el índice como una columna
          encoding= "utf-8")  #No es el caso pero si estuvíeramos usando un df en español

Ahora revisemos un poco nuestro dataframe...

**Descripción del índice:**

In [34]:
df4.index

Index(['AMC Concord', 'AMC Pacer', 'AMC Spirit', 'Buick Century',
       'Buick Electra', 'Buick LeSabre', 'Buick Opel', 'Buick Regal',
       'Buick Riviera', 'Buick Skylark', 'Cad. Deville', 'Cad. Eldorado',
       'Cad. Seville', 'Chev. Chevette', 'Chev. Impala', 'Chev. Malibu',
       'Chev. Monte Carlo', 'Chev. Monza', 'Chev. Nova', 'Dodge Colt',
       'Dodge Diplomat', 'Dodge Magnum', 'Dodge St. Regis', 'Ford Fiesta',
       'Ford Mustang', 'Linc. Continental', 'Linc. Mark V', 'Linc. Versailles',
       'Merc. Bobcat', 'Merc. Cougar', 'Merc. Marquis', 'Merc. Monarch',
       'Merc. XR-7', 'Merc. Zephyr', 'Olds 98', 'Olds Cutl Supr',
       'Olds Cutlass', 'Olds Delta 88', 'Olds Omega', 'Olds Starfire',
       'Olds Toronado', 'Plym. Arrow', 'Plym. Champ', 'Plym. Horizon',
       'Plym. Sapporo', 'Plym. Volare', 'Pont. Catalina', 'Pont. Firebird',
       'Pont. Grand Prix', 'Pont. Le Mans', 'Pont. Phoenix', 'Pont. Sunbird',
       'Audi 5000', 'Audi Fox', 'BMW 320i', 'Datsun 200', 'Datsun 210',
       'Datsun 510', 'Datsun 810', 'Fiat Strada', 'Honda Accord',
       'Honda Civic', 'Mazda GLC', 'Peugeot 604', 'Renault Le Car', 'Subaru',
       'Toyota Celica', 'Toyota Corolla', 'Toyota Corona', 'VW Dasher',
       'VW Diesel', 'VW Rabbit', 'VW Scirocco', 'Volvo 260'],
      dtype='object', name='make')

**Nombres de las columnas:**

Columns devuelve un array con los nombres de las columnas. Tenemos que tener en cuenta que el índice no es una columna, es una etiqueta para nuestras filas.

In [35]:
df4.columns

Index(['price', 'mpg', 'rep78', 'headroom', 'trunk', 'weight', 'length',
       'turn', 'displacement', 'gear_ratio', 'foreig'],
      dtype='object')

**Tipos de datos:**

dtypes devuelve una serie con el tipo de de cada columna.

In [36]:
df4.dtypes

price             int64
mpg               int64
rep78           float64
headroom        float64
trunk             int64
weight            int64
length            int64
turn              int64
displacement      int64
gear_ratio      float64
foreig           object
dtype: object

**Forma del dataframe:**

Shape devuelve una tupla con la cantidad de filas y de columnas (filas, columnas).

In [37]:
df4.shape

(74, 11)

También podemos descomponer la tupla para obtener la cantidad de filas o columnas individualmente:

In [38]:
df4.shape[0] #Filas

74

In [39]:
df4.shape[1] #Columnas

11

Contar solo las filas:

In [40]:
len(df4)

74

Contar solo las columnas.

In [41]:
len(df4.columns)

11

**Ver dataframe como un array de Numpy:**

In [42]:
df4.values[:5] #Utilizamos "[:5]" para ver lo que serían las primeras 5 filas y el output no sea eterno.

array([[4099, 22, 3.0, 2.5, 11, 2930, 186, 40, 121, 3.5799999,
        'Domestic'],
       [4749, 17, 3.0, 3.0, 11, 3350, 173, 40, 258, 2.53, 'Domestic'],
       [3799, 22, nan, 3.0, 12, 2640, 168, 35, 121, 3.0799999,
        'Domestic'],
       [4816, 20, 3.0, 4.5, 16, 3250, 196, 40, 196, 2.9300001,
        'Domestic'],
       [7827, 15, 4.0, 4.0, 20, 4080, 222, 43, 350, 2.4100001,
        'Domestic']], dtype=object)

In [43]:
type(df4.values)

numpy.ndarray

**Uso de memoria:**

memory_usage() nos devuelve una serie con la cantidad de memoria ram en bytes que ocupa cada columna del dataframe. Se recomienda utilizar el argumento deep para tener una respuesta de mayor precisión.

In [44]:
df4.memory_usage(deep=True)

Index           5089
price            592
mpg              592
rep78            592
headroom         592
trunk            592
weight           592
length           592
turn             592
displacement     592
gear_ratio       592
foreig          4788
dtype: int64

Para ver el total de memoria utilzada por el dataframe:

In [45]:
df4.memory_usage(deep=True).sum()

15797

Expresado en megabytes:

In [46]:
df4.memory_usage(deep=True).sum()/(1024**2)

0.015065193176269531

1 kilobyte = 1024 bytes

1 megabyte = 1024 kilobytes

1 gigabyte = 1024 megabytes

1 terabyte = 1024 gigabytes
  
y así sucesivamente...

**Contar valores no NaN:**

In [47]:
df4.count()

price           74
mpg             74
rep78           69
headroom        74
trunk           74
weight          74
length          74
turn            74
displacement    74
gear_ratio      74
foreig          74
dtype: int64

**Resumen general:**

Devuelve gran parte de lo solicitado individualmente hasta ahora. Tener en cuenta que al solicitar todo lo anterior a la vez, en grandes dataframes esto puede demorar un poco.

Nota: El uso de memoria lo devuelve con el argumento deep en False.

In [48]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, AMC Concord to Volvo 260
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         74 non-null     int64
 1   mpg           74 non-null     int64
 2   rep78         69 non-null     float64
 3   headroom      74 non-null     float64
 4   trunk         74 non-null     int64
 5   weight        74 non-null     int64
 6   length        74 non-null     int64
 7   turn          74 non-null     int64
 8   displacement  74 non-null     int64
 9   gear_ratio    74 non-null     float64
 10  foreig        74 non-null     object
dtypes: float64(3), int64(7), object(1)
memory usage: 6.9+ KB

**Contar valores NaN:**

In [49]:
df4.isnull().sum()

price           0
mpg             0
rep78           5
headroom        0
trunk           0
weight          0
length          0
turn            0
displacement    0
gear_ratio      0
foreig          0
dtype: int64

### JSON

JSON (JavaScript Object Notation) es un formato texto plano utilizado para almacenar datos, si bien surgió en JavaScript, al ser independiente de este lenguaje pudo lograr gran popularidad para el intercambio de datos.

Los archivos JSON dieron lugar a los formatos GeoJSON y TopoJSON que permiten almacenar datos espaciales. Una de las ventajas de estos últimos frente otros formatos de almacenamiento de datos espaciales, es que todos los datos se guardan en un único archivo, mientras que los tradicionales archivos shape se guardan en por lo menos en tres archivos distintos dependiendo  (.shp, .shx y .dbf) de los datos almacenados.

Probemos ahora guardar nuestro DataFrame de autos en JSON.

In [50]:
df4.to_json("data/auto.json")

Para leer un JSON y guardar un DataFrame como archivo JSON, Pandas ofrece varios parámetros, para profundizar en ellos consultar:

* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html

* https://pandas.pydata.org/docs/reference/api/pandas.io.json.read_json.html

Ahora abramos nuestro archivo auto.json

In [51]:
pd.read_json("data/auto.json")

,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreig
AMC Concord,4099,22,3.0,2.5,11,2930,186,40,121,3.58,Domestic
AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic
...,...,...,...,...,...,...,...,...,...,...,...
VW Dasher,7140,23,4.0,2.5,12,2160,172,36,97,3.74,Foreign
VW Diesel,5397,41,5.0,3.0,15,2040,155,35,90,3.78,Foreign
VW Rabbit,4697,25,4.0,3.0,15,1930,155,35,89,3.78,Foreign
VW Scirocco,6850,25,4.0,2.0,16,1990,156,36,97,3.78,Foreign
Volvo 260,11995,17,5.0,2.5,14,3170,193,37,163,2.98,Foreign

In [52]:
import json
auto_json = open("data/auto.json")
auto_json = json.load(auto_json)

Como podemos ver, los archivos json se guardan por default con una estructura de diccionario anidado.

In [53]:
type(auto_json)

dict

In [54]:
auto_json

{'price': {'AMC Concord': 4099,
  'AMC Pacer': 4749,
  'AMC Spirit': 3799,
  'Buick Century': 4816,
  'Buick Electra': 7827,
  'Buick LeSabre': 5788,
  'Buick Opel': 4453,
  'Buick Regal': 5189,
  'Buick Riviera': 10372,
  'Buick Skylark': 4082,
  'Cad. Deville': 11385,
  'Cad. Eldorado': 14500,
  'Cad. Seville': 15906,
  'Chev. Chevette': 3299,
  'Chev. Impala': 5705,
  'Chev. Malibu': 4504,
  'Chev. Monte Carlo': 5104,
  'Chev. Monza': 3667,
  'Chev. Nova': 3955,
  'Dodge Colt': 3984,
  'Dodge Diplomat': 4010,
  'Dodge Magnum': 5886,
  'Dodge St. Regis': 6342,
  'Ford Fiesta': 4389,
  'Ford Mustang': 4187,
  'Linc. Continental': 11497,
  'Linc. Mark V': 13594,
  'Linc. Versailles': 13466,
  'Merc. Bobcat': 3829,
  'Merc. Cougar': 5379,
  'Merc. Marquis': 6165,
  'Merc. Monarch': 4516,
  'Merc. XR-7': 6303,
  'Merc. Zephyr': 3291,
  'Olds 98': 8814,
  'Olds Cutl Supr': 5172,
  'Olds Cutlass': 4733,
  'Olds Delta 88': 4890,
  'Olds Omega': 4181,
  'Olds Starfire': 4195,
  'Olds Toronado': 10371,
  'Plym. Arrow': 4647,
  'Plym. Champ': 4425,
  'Plym. Horizon': 4482,
  'Plym. Sapporo': 6486,
  'Plym. Volare': 4060,
  'Pont. Catalina': 5798,
  'Pont. Firebird': 4934,
  'Pont. Grand Prix': 5222,
  'Pont. Le Mans': 4723,
  'Pont. Phoenix': 4424,
  'Pont. Sunbird': 4172,
  'Audi 5000': 9690,
  'Audi Fox': 6295,
  'BMW 320i': 9735,
  'Datsun 200': 6229,
  'Datsun 210': 4589,
  'Datsun 510': 5079,
  'Datsun 810': 8129,
  'Fiat Strada': 4296,
  'Honda Accord': 5799,
  'Honda Civic': 4499,
  'Mazda GLC': 3995,
  'Peugeot 604': 12990,
  'Renault Le Car': 3895,
  'Subaru': 3798,
  'Toyota Celica': 5899,
  'Toyota Corolla': 3748,
  'Toyota Corona': 5719,
  'VW Dasher': 7140,
  'VW Diesel': 5397,
  'VW Rabbit': 4697,
  'VW Scirocco': 6850,
  'Volvo 260': 11995},
 'mpg': {'AMC Concord': 22,
  'AMC Pacer': 17,
  'AMC Spirit': 22,
  'Buick Century': 20,
  'Buick Electra': 15,
  'Buick LeSabre': 18,
  'Buick Opel': 26,
  'Buick Regal': 20,
  'Buick Riviera': 16,
  'Buick Skylark': 19,
  'Cad. Deville': 14,
  'Cad. Eldorado': 14,
  'Cad. Seville': 21,
  'Chev. Chevette': 29,
  'Chev. Impala': 16,
  'Chev. Malibu': 22,
  'Chev. Monte Carlo': 22,
  'Chev. Monza': 24,
  'Chev. Nova': 19,
  'Dodge Colt': 30,
  'Dodge Diplomat': 18,
  'Dodge Magnum': 16,
  'Dodge St. Regis': 17,
  'Ford Fiesta': 28,
  'Ford Mustang': 21,
  'Linc. Continental': 12,
  'Linc. Mark V': 12,
  'Linc. Versailles': 14,
  'Merc. Bobcat': 22,
  'Merc. Cougar': 14,
  'Merc. Marquis': 15,
  'Merc. Monarch': 18,
  'Merc. XR-7': 14,
  'Merc. Zephyr': 20,
  'Olds 98': 21,
  'Olds Cutl Supr': 19,
  'Olds Cutlass': 19,
  'Olds Delta 88': 18,
  'Olds Omega': 19,
  'Olds Starfire': 24,
  'Olds Toronado': 16,
  'Plym. Arrow': 28,
  'Plym. Champ': 34,
  'Plym. Horizon': 25,
  'Plym. Sapporo': 26,
  'Plym. Volare': 18,
  'Pont. Catalina': 18,
  'Pont. Firebird': 18,
  'Pont. Grand Prix': 19,
  'Pont. Le Mans': 19,
  'Pont. Phoenix': 19,
  'Pont. Sunbird': 24,
  'Audi 5000': 17,
  'Audi Fox': 23,
  'BMW 320i': 25,
  'Datsun 200': 23,
  'Datsun 210': 35,
  'Datsun 510': 24,
  'Datsun 810': 21,
  'Fiat Strada': 21,
  'Honda Accord': 25,
  'Honda Civic': 28,
  'Mazda GLC': 30,
  'Peugeot 604': 14,
  'Renault Le Car': 26,
  'Subaru': 35,
  'Toyota Celica': 18,
  'Toyota Corolla': 31,
  'Toyota Corona': 18,
  'VW Dasher': 23,
  'VW Diesel': 41,
  'VW Rabbit': 25,
  'VW Scirocco': 25,
  'Volvo 260': 17},
 'rep78': {'AMC Concord': 3.0,
  'AMC Pacer': 3.0,
  'AMC Spirit': None,
  'Buick Century': 3.0,
  'Buick Electra': 4.0,
  'Buick LeSabre': 3.0,
  'Buick Opel': None,
  'Buick Regal': 3.0,
  'Buick Riviera': 3.0,
  'Buick Skylark': 3.0,
  'Cad. Deville': 3.0,
  'Cad. Eldorado': 2.0,
  'Cad. Seville': 3.0,
  'Chev. Chevette': 3.0,
  'Chev. Impala': 4.0,
  'Chev. Malibu': 3.0,
  'Chev. Monte Carlo': 2.0,
  'Chev. Monza': 2.0,
  'Chev. Nova': 3.0,
  'Dodge Colt': 5.0,
  'Dodge Diplomat': 2.0,
  'Dodge Magnum': 2.0,
  'Dodge St. Regis': 2.0,
  'Ford Fiesta': 4.0,
  'Ford Mustang': 3.0,
  'Linc. Continental': 3.0,
  'Linc. Mark V': 3.0,
  'Linc. Versailles': 3.0,
  'Merc. Bobcat': 4.0,
  'Merc. Cougar': 4.0,
  'Merc. Marquis': 3.0,
  'Merc. Monarch': 3.0,
  'Merc. XR-7': 4.0,
  'Merc. Zephyr': 3.0,
  'Olds 98': 4.0,
  'Olds Cutl Supr': 3.0,
  'Olds Cutlass': 3.0,
  'Olds Delta 88': 4.0,
  'Olds Omega': 3.0,
  'Olds Starfire': 1.0,
  'Olds Toronado': 3.0,
  'Plym. Arrow': 3.0,
  'Plym. Champ': 5.0,
  'Plym. Horizon': 3.0,
  'Plym. Sapporo': None,
  'Plym. Volare': 2.0,
  'Pont. Catalina': 4.0,
  'Pont. Firebird': 1.0,
  'Pont. Grand Prix': 3.0,
  'Pont. Le Mans': 3.0,
  'Pont. Phoenix': None,
  'Pont. Sunbird': 2.0,
  'Audi 5000': 5.0,
  'Audi Fox': 3.0,
  'BMW 320i': 4.0,
  'Datsun 200': 4.0,
  'Datsun 210': 5.0,
  'Datsun 510': 4.0,
  'Datsun 810': 4.0,
  'Fiat Strada': 3.0,
  'Honda Accord': 5.0,
  'Honda Civic': 4.0,
  'Mazda GLC': 4.0,
  'Peugeot 604': None,
  'Renault Le Car': 3.0,
  'Subaru': 5.0,
  'Toyota Celica': 5.0,
  'Toyota Corolla': 5.0,
  'Toyota Corona': 5.0,
  'VW Dasher': 4.0,
  'VW Diesel': 5.0,
  'VW Rabbit': 4.0,
  'VW Scirocco': 4.0,
  'Volvo 260': 5.0},
 'headroom': {'AMC Concord': 2.5,
  'AMC Pacer': 3.0,
  'AMC Spirit': 3.0,
  'Buick Century': 4.5,
  'Buick Electra': 4.0,
  'Buick LeSabre': 4.0,
  'Buick Opel': 3.0,
  'Buick Regal': 2.0,
  'Buick Riviera': 3.5,
  'Buick Skylark': 3.5,
  'Cad. Deville': 4.0,
  'Cad. Eldorado': 3.5,
  'Cad. Seville': 3.0,
  'Chev. Chevette': 2.5,
  'Chev. Impala': 4.0,
  'Chev. Malibu': 3.5,
  'Chev. Monte Carlo': 2.0,
  'Chev. Monza': 2.0,
  'Chev. Nova': 3.5,
  'Dodge Colt': 2.0,
  'Dodge Diplomat': 4.0,
  'Dodge Magnum': 4.0,
  'Dodge St. Regis': 4.5,
  'Ford Fiesta': 1.5,
  'Ford Mustang': 2.0,
  'Linc. Continental': 3.5,
  'Linc. Mark V': 2.5,
  'Linc. Versailles': 3.5,
  'Merc. Bobcat': 3.0,
  'Merc. Cougar': 3.5,
  'Merc. Marquis': 3.5,
  'Merc. Monarch': 3.0,
  'Merc. XR-7': 3.0,
  'Merc. Zephyr': 3.5,
  'Olds 98': 4.0,
  'Olds Cutl Supr': 2.0,
  'Olds Cutlass': 4.5,
  'Olds Delta 88': 4.0,
  'Olds Omega': 4.5,
  'Olds Starfire': 2.0,
  'Olds Toronado': 3.5,
  'Plym. Arrow': 2.0,
  'Plym. Champ': 2.5,
  'Plym. Horizon': 4.0,
  'Plym. Sapporo': 1.5,
  'Plym. Volare': 5.0,
  'Pont. Catalina': 4.0,
  'Pont. Firebird': 1.5,
  'Pont. Grand Prix': 2.0,
  'Pont. Le Mans': 3.5,
  'Pont. Phoenix': 3.5,
  'Pont. Sunbird': 2.0,
  'Audi 5000': 3.0,
  'Audi Fox': 2.5,
  'BMW 320i': 2.5,
  'Datsun 200': 1.5,
  'Datsun 210': 2.0,
  'Datsun 510': 2.5,
  'Datsun 810': 2.5,
  'Fiat Strada': 2.5,
  'Honda Accord': 3.0,
  'Honda Civic': 2.5,
  'Mazda GLC': 3.5,
  'Peugeot 604': 3.5,
  'Renault Le Car': 3.0,
  'Subaru': 2.5,
  'Toyota Celica': 2.5,
  'Toyota Corolla': 3.0,
  'Toyota Corona': 2.0,
  'VW Dasher': 2.5,
  'VW Diesel': 3.0,
  'VW Rabbit': 3.0,
  'VW Scirocco': 2.0,
  'Volvo 260': 2.5},
 'trunk': {'AMC Concord': 11,
  'AMC Pacer': 11,
  'AMC Spirit': 12,
  'Buick Century': 16,
  'Buick Electra': 20,
  'Buick LeSabre': 21,
  'Buick Opel': 10,
  'Buick Regal': 16,
  'Buick Riviera': 17,
  'Buick Skylark': 13,
  'Cad. Deville': 20,
  'Cad. Eldorado': 16,
  'Cad. Seville': 13,
  'Chev. Chevette': 9,
  'Chev. Impala': 20,
  'Chev. Malibu': 17,
  'Chev. Monte Carlo': 16,
  'Chev. Monza': 7,
  'Chev. Nova': 13,
  'Dodge Colt': 8,
  'Dodge Diplomat': 17,
  'Dodge Magnum': 17,
  'Dodge St. Regis': 21,
  'Ford Fiesta': 9,
  'Ford Mustang': 10,
  'Linc. Continental': 22,
  'Linc. Mark V': 18,
  'Linc. Versailles': 15,
  'Merc. Bobcat': 9,
  'Merc. Cougar': 16,
  'Merc. Marquis': 23,
  'Merc. Monarch': 15,
  'Merc. XR-7': 16,
  'Merc. Zephyr': 17,
  'Olds 98': 20,
  'Olds Cutl Supr': 16,
  'Olds Cutlass': 16,
  'Olds Delta 88': 20,
  'Olds Omega': 14,
  'Olds Starfire': 10,
  'Olds Toronado': 17,
  'Plym. Arrow': 11,
  'Plym. Champ': 11,
  'Plym. Horizon': 17,
  'Plym. Sapporo': 8,
  'Plym. Volare': 16,
  'Pont. Catalina': 20,
  'Pont. Firebird': 7,
  'Pont. Grand Prix': 16,
  'Pont. Le Mans': 17,
  'Pont. Phoenix': 13,
  'Pont. Sunbird': 7,
  'Audi 5000': 15,
  'Audi Fox': 11,
  'BMW 320i': 12,
  'Datsun 200': 6,
  'Datsun 210': 8,
  'Datsun 510': 8,
  'Datsun 810': 8,
  'Fiat Strada': 16,
  'Honda Accord': 10,
  'Honda Civic': 5,
  'Mazda GLC': 11,
  'Peugeot 604': 14,
  'Renault Le Car': 10,
  'Subaru': 11,
  'Toyota Celica': 14,
  'Toyota Corolla': 9,
  'Toyota Corona': 11,
  'VW Dasher': 12,
  'VW Diesel': 15,
  'VW Rabbit': 15,
  'VW Scirocco': 16,
  'Volvo 260': 14},
 'weight': {'AMC Concord': 2930,
  'AMC Pacer': 3350,
  'AMC Spirit': 2640,
  'Buick Century': 3250,
  'Buick Electra': 4080,
  'Buick LeSabre': 3670,
  'Buick Opel': 2230,
  'Buick Regal': 3280,
  'Buick Riviera': 3880,
  'Buick Skylark': 3400,
  'Cad. Deville': 4330,
  'Cad. Eldorado': 3900,
  'Cad. Seville': 4290,
  'Chev. Chevette': 2110,
  'Chev. Impala': 3690,
  'Chev. Malibu': 3180,
  'Chev. Monte Carlo': 3220,
  'Chev. Monza': 2750,
  'Chev. Nova': 3430,
  'Dodge Colt': 2120,
  'Dodge Diplomat': 3600,
  'Dodge Magnum': 3600,
  'Dodge St. Regis': 3740,
  'Ford Fiesta': 1800,
  'Ford Mustang': 2650,
  'Linc. Continental': 4840,
  'Linc. Mark V': 4720,
  'Linc. Versailles': 3830,
  'Merc. Bobcat': 2580,
  'Merc. Cougar': 4060,
  'Merc. Marquis': 3720,
  'Merc. Monarch': 3370,
  'Merc. XR-7': 4130,
  'Merc. Zephyr': 2830,
  'Olds 98': 4060,
  'Olds Cutl Supr': 3310,
  'Olds Cutlass': 3300,
  'Olds Delta 88': 3690,
  'Olds Omega': 3370,
  'Olds Starfire': 2730,
  'Olds Toronado': 4030,
  'Plym. Arrow': 3260,
  'Plym. Champ': 1800,
  'Plym. Horizon': 2200,
  'Plym. Sapporo': 2520,
  'Plym. Volare': 3330,
  'Pont. Catalina': 3700,
  'Pont. Firebird': 3470,
  'Pont. Grand Prix': 3210,
  'Pont. Le Mans': 3200,
  'Pont. Phoenix': 3420,
  'Pont. Sunbird': 2690,
  'Audi 5000': 2830,
  'Audi Fox': 2070,
  'BMW 320i': 2650,
  'Datsun 200': 2370,
  'Datsun 210': 2020,
  'Datsun 510': 2280,
  'Datsun 810': 2750,
  'Fiat Strada': 2130,
  'Honda Accord': 2240,
  'Honda Civic': 1760,
  'Mazda GLC': 1980,
  'Peugeot 604': 3420,
  'Renault Le Car': 1830,
  'Subaru': 2050,
  'Toyota Celica': 2410,
  'Toyota Corolla': 2200,
  'Toyota Corona': 2670,
  'VW Dasher': 2160,
  'VW Diesel': 2040,
  'VW Rabbit': 1930,
  'VW Scirocco': 1990,
  'Volvo 260': 3170},
 'length': {'AMC Concord': 186,
  'AMC Pacer': 173,
  'AMC Spirit': 168,
  'Buick Century': 196,
  'Buick Electra': 222,
  'Buick LeSabre': 218,
  'Buick Opel': 170,
  'Buick Regal': 200,
  'Buick Riviera': 207,
  'Buick Skylark': 200,
  'Cad. Deville': 221,
  'Cad. Eldorado': 204,
  'Cad. Seville': 204,
  'Chev. Chevette': 163,
  'Chev. Impala': 212,
  'Chev. Malibu': 193,
  'Chev. Monte Carlo': 200,
  'Chev. Monza': 179,
  'Chev. Nova': 197,
  'Dodge Colt': 163,
  'Dodge Diplomat': 206,
  'Dodge Magnum': 206,
  'Dodge St. Regis': 220,
  'Ford Fiesta': 147,
  'Ford Mustang': 179,
  'Linc. Continental': 233,
  'Linc. Mark V': 230,
  'Linc. Versailles': 201,
  'Merc. Bobcat': 169,
  'Merc. Cougar': 221,
  'Merc. Marquis': 212,
  'Merc. Monarch': 198,
  'Merc. XR-7': 217,
  'Merc. Zephyr': 195,
  'Olds 98': 220,
  'Olds Cutl Supr': 198,
  'Olds Cutlass': 198,
  'Olds Delta 88': 218,
  'Olds Omega': 200,
  'Olds Starfire': 180,
  'Olds Toronado': 206,
  'Plym. Arrow': 170,
  'Plym. Champ': 157,
  'Plym. Horizon': 165,
  'Plym. Sapporo': 182,
  'Plym. Volare': 201,
  'Pont. Catalina': 214,
  'Pont. Firebird': 198,
  'Pont. Grand Prix': 201,
  'Pont. Le Mans': 199,
  'Pont. Phoenix': 203,
  'Pont. Sunbird': 179,
  'Audi 5000': 189,
  'Audi Fox': 174,
  'BMW 320i': 177,
  'Datsun 200': 170,
  'Datsun 210': 165,
  'Datsun 510': 170,
  'Datsun 810': 184,
  'Fiat Strada': 161,
  'Honda Accord': 172,
  'Honda Civic': 149,
  'Mazda GLC': 154,
  'Peugeot 604': 192,
  'Renault Le Car': 142,
  'Subaru': 164,
  'Toyota Celica': 174,
  'Toyota Corolla': 165,
  'Toyota Corona': 175,
  'VW Dasher': 172,
  'VW Diesel': 155,
  'VW Rabbit': 155,
  'VW Scirocco': 156,
  'Volvo 260': 193},
 'turn': {'AMC Concord': 40,
  'AMC Pacer': 40,
  'AMC Spirit': 35,
  'Buick Century': 40,
  'Buick Electra': 43,
  'Buick LeSabre': 43,
  'Buick Opel': 34,
  'Buick Regal': 42,
  'Buick Riviera': 43,
  'Buick Skylark': 42,
  'Cad. Deville': 44,
  'Cad. Eldorado': 43,
  'Cad. Seville': 45,
  'Chev. Chevette': 34,
  'Chev. Impala': 43,
  'Chev. Malibu': 31,
  'Chev. Monte Carlo': 41,
  'Chev. Monza': 40,
  'Chev. Nova': 43,
  'Dodge Colt': 35,
  'Dodge Diplomat': 46,
  'Dodge Magnum': 46,
  'Dodge St. Regis': 46,
  'Ford Fiesta': 33,
  'Ford Mustang': 43,
  'Linc. Continental': 51,
  'Linc. Mark V': 48,
  'Linc. Versailles': 41,
  'Merc. Bobcat': 39,
  'Merc. Cougar': 48,
  'Merc. Marquis': 44,
  'Merc. Monarch': 41,
  'Merc. XR-7': 45,
  'Merc. Zephyr': 43,
  'Olds 98': 43,
  'Olds Cutl Supr': 42,
  'Olds Cutlass': 42,
  'Olds Delta 88': 42,
  'Olds Omega': 43,
  'Olds Starfire': 40,
  'Olds Toronado': 43,
  'Plym. Arrow': 37,
  'Plym. Champ': 37,
  'Plym. Horizon': 36,
  'Plym. Sapporo': 38,
  'Plym. Volare': 44,
  'Pont. Catalina': 42,
  'Pont. Firebird': 42,
  'Pont. Grand Prix': 45,
  'Pont. Le Mans': 40,
  'Pont. Phoenix': 43,
  'Pont. Sunbird': 41,
  'Audi 5000': 37,
  'Audi Fox': 36,
  'BMW 320i': 34,
  'Datsun 200': 35,
  'Datsun 210': 32,
  'Datsun 510': 34,
  'Datsun 810': 38,
  'Fiat Strada': 36,
  'Honda Accord': 36,
  'Honda Civic': 34,
  'Mazda GLC': 33,
  'Peugeot 604': 38,
  'Renault Le Car': 34,
  'Subaru': 36,
  'Toyota Celica': 36,
  'Toyota Corolla': 35,
  'Toyota Corona': 36,
  'VW Dasher': 36,
  'VW Diesel': 35,
  'VW Rabbit': 35,
  'VW Scirocco': 36,
  'Volvo 260': 37},
 'displacement': {'AMC Concord': 121,
  'AMC Pacer': 258,
  'AMC Spirit': 121,
  'Buick Century': 196,
  'Buick Electra': 350,
  'Buick LeSabre': 231,
  'Buick Opel': 304,
  'Buick Regal': 196,
  'Buick Riviera': 231,
  'Buick Skylark': 231,
  'Cad. Deville': 425,
  'Cad. Eldorado': 350,
  'Cad. Seville': 350,
  'Chev. Chevette': 231,
  'Chev. Impala': 250,
  'Chev. Malibu': 200,
  'Chev. Monte Carlo': 200,
  'Chev. Monza': 151,
  'Chev. Nova': 250,
  'Dodge Colt': 98,
  'Dodge Diplomat': 318,
  'Dodge Magnum': 318,
  'Dodge St. Regis': 225,
  'Ford Fiesta': 98,
  'Ford Mustang': 140,
  'Linc. Continental': 400,
  'Linc. Mark V': 400,
  'Linc. Versailles': 302,
  'Merc. Bobcat': 140,
  'Merc. Cougar': 302,
  'Merc. Marquis': 302,
  'Merc. Monarch': 250,
  'Merc. XR-7': 302,
  'Merc. Zephyr': 140,
  'Olds 98': 350,
  'Olds Cutl Supr': 231,
  'Olds Cutlass': 231,
  'Olds Delta 88': 231,
  'Olds Omega': 231,
  'Olds Starfire': 151,
  'Olds Toronado': 350,
  'Plym. Arrow': 156,
  'Plym. Champ': 86,
  'Plym. Horizon': 105,
  'Plym. Sapporo': 119,
  'Plym. Volare': 225,
  'Pont. Catalina': 231,
  'Pont. Firebird': 231,
  'Pont. Grand Prix': 231,
  'Pont. Le Mans': 231,
  'Pont. Phoenix': 231,
  'Pont. Sunbird': 151,
  'Audi 5000': 131,
  'Audi Fox': 97,
  'BMW 320i': 121,
  'Datsun 200': 119,
  'Datsun 210': 85,
  'Datsun 510': 119,
  'Datsun 810': 146,
  'Fiat Strada': 105,
  'Honda Accord': 107,
  'Honda Civic': 91,
  'Mazda GLC': 86,
  'Peugeot 604': 163,
  'Renault Le Car': 79,
  'Subaru': 97,
  'Toyota Celica': 134,
  'Toyota Corolla': 97,
  'Toyota Corona': 134,
  'VW Dasher': 97,
  'VW Diesel': 90,
  'VW Rabbit': 89,
  'VW Scirocco': 97,
  'Volvo 260': 163},
 'gear_ratio': {'AMC Concord': 3.5799999,
  'AMC Pacer': 2.53,
  'AMC Spirit': 3.0799999,
  'Buick Century': 2.9300001,
  'Buick Electra': 2.4100001,
  'Buick LeSabre': 2.73,
  'Buick Opel': 2.8699999,
  'Buick Regal': 2.9300001,
  'Buick Riviera': 2.9300001,
  'Buick Skylark': 3.0799999,
  'Cad. Deville': 2.28,
  'Cad. Eldorado': 2.1900001,
  'Cad. Seville': 2.24,
  'Chev. Chevette': 2.9300001,
  'Chev. Impala': 2.5599999,
  'Chev. Malibu': 2.73,
  'Chev. Monte Carlo': 2.73,
  'Chev. Monza': 2.73,
  'Chev. Nova': 2.5599999,
  'Dodge Colt': 3.54,
  'Dodge Diplomat': 2.47,
  'Dodge Magnum': 2.47,
  'Dodge St. Regis': 2.9400001,
  'Ford Fiesta': 3.1500001,
  'Ford Mustang': 3.0799999,
  'Linc. Continental': 2.47,
  'Linc. Mark V': 2.47,
  'Linc. Versailles': 2.47,
  'Merc. Bobcat': 2.73,
  'Merc. Cougar': 2.75,
  'Merc. Marquis': 2.26,
  'Merc. Monarch': 2.4300001,
  'Merc. XR-7': 2.75,
  'Merc. Zephyr': 3.0799999,
  'Olds 98': 2.4100001,
  'Olds Cutl Supr': 2.9300001,
  'Olds Cutlass': 2.9300001,
  'Olds Delta 88': 2.73,
  'Olds Omega': 3.0799999,
  'Olds Starfire': 2.73,
  'Olds Toronado': 2.4100001,
  'Plym. Arrow': 3.05,
  'Plym. Champ': 2.97,
  'Plym. Horizon': 3.3699999,
  'Plym. Sapporo': 3.54,
  'Plym. Volare': 3.23,
  'Pont. Catalina': 2.73,
  'Pont. Firebird': 3.0799999,
  'Pont. Grand Prix': 2.9300001,
  'Pont. Le Mans': 2.9300001,
  'Pont. Phoenix': 3.0799999,
  'Pont. Sunbird': 2.73,
  'Audi 5000': 3.2,
  'Audi Fox': 3.7,
  'BMW 320i': 3.6400001,
  'Datsun 200': 3.8900001,
  'Datsun 210': 3.7,
  'Datsun 510': 3.54,
  'Datsun 810': 3.55,
  'Fiat Strada': 3.3699999,
  'Honda Accord': 3.05,
  'Honda Civic': 3.3,
  'Mazda GLC': 3.73,
  'Peugeot 604': 3.5799999,
  'Renault Le Car': 3.72,
  'Subaru': 3.8099999,
  'Toyota Celica': 3.0599999,
  'Toyota Corolla': 3.21,
  'Toyota Corona': 3.05,
  'VW Dasher': 3.74,
  'VW Diesel': 3.78,
  'VW Rabbit': 3.78,
  'VW Scirocco': 3.78,
  'Volvo 260': 2.98},
 'foreig': {'AMC Concord': 'Domestic',
  'AMC Pacer': 'Domestic',
  'AMC Spirit': 'Domestic',
  'Buick Century': 'Domestic',
  'Buick Electra': 'Domestic',
  'Buick LeSabre': 'Domestic',
  'Buick Opel': 'Domestic',
  'Buick Regal': 'Domestic',
  'Buick Riviera': 'Domestic',
  'Buick Skylark': 'Domestic',
  'Cad. Deville': 'Domestic',
  'Cad. Eldorado': 'Domestic',
  'Cad. Seville': 'Domestic',
  'Chev. Chevette': 'Domestic',
  'Chev. Impala': 'Domestic',
  'Chev. Malibu': 'Domestic',
  'Chev. Monte Carlo': 'Domestic',
  'Chev. Monza': 'Domestic',
  'Chev. Nova': 'Domestic',
  'Dodge Colt': 'Domestic',
  'Dodge Diplomat': 'Domestic',
  'Dodge Magnum': 'Domestic',
  'Dodge St. Regis': 'Domestic',
  'Ford Fiesta': 'Domestic',
  'Ford Mustang': 'Domestic',
  'Linc. Continental': 'Domestic',
  'Linc. Mark V': 'Domestic',
  'Linc. Versailles': 'Domestic',
  'Merc. Bobcat': 'Domestic',
  'Merc. Cougar': 'Domestic',
  'Merc. Marquis': 'Domestic',
  'Merc. Monarch': 'Domestic',
  'Merc. XR-7': 'Domestic',
  'Merc. Zephyr': 'Domestic',
  'Olds 98': 'Domestic',
  'Olds Cutl Supr': 'Domestic',
  'Olds Cutlass': 'Domestic',
  'Olds Delta 88': 'Domestic',
  'Olds Omega': 'Domestic',
  'Olds Starfire': 'Domestic',
  'Olds Toronado': 'Domestic',
  'Plym. Arrow': 'Domestic',
  'Plym. Champ': 'Domestic',
  'Plym. Horizon': 'Domestic',
  'Plym. Sapporo': 'Domestic',
  'Plym. Volare': 'Domestic',
  'Pont. Catalina': 'Domestic',
  'Pont. Firebird': 'Domestic',
  'Pont. Grand Prix': 'Domestic',
  'Pont. Le Mans': 'Domestic',
  'Pont. Phoenix': 'Domestic',
  'Pont. Sunbird': 'Domestic',
  'Audi 5000': 'Foreign',
  'Audi Fox': 'Foreign',
  'BMW 320i': 'Foreign',
  'Datsun 200': 'Foreign',
  'Datsun 210': 'Foreign',
  'Datsun 510': 'Foreign',
  'Datsun 810': 'Foreign',
  'Fiat Strada': 'Foreign',
  'Honda Accord': 'Foreign',
  'Honda Civic': 'Foreign',
  'Mazda GLC': 'Foreign',
  'Peugeot 604': 'Foreign',
  'Renault Le Car': 'Foreign',
  'Subaru': 'Foreign',
  'Toyota Celica': 'Foreign',
  'Toyota Corolla': 'Foreign',
  'Toyota Corona': 'Foreign',
  'VW Dasher': 'Foreign',
  'VW Diesel': 'Foreign',
  'VW Rabbit': 'Foreign',
  'VW Scirocco': 'Foreign',
  'Volvo 260': 'Foreign'}}

No es la intención de este apartado profundizar en los archivos JSON, pero sí debemos familiarizarnos con ellos, ya que a partir de sus variantes que soportan datos geográficos, aprenderemos un poco de análisis espacial.