# Test de hipotesís
0. Machete con librerías a utilizar
1. Tests de Hipotesís parametricos  
   a. Comparación de la media poblacional contra un valor fijo  
   b. Comparación de medias de dos muestras independientes  
2. Test de hipotesís no parametricos  
   c. Variables categoricas
3. Ensayo: Tests parametricos VS no paremtricos  
   d.I. Comparación de medias para dos muestras independientes (parametrico)  
   d.II. Comparación de medias para dos muestras independientes (NO parametrico)  
   f.I. Comparacíon de medias para muestras apareadas (parametrico)  
   f.II. Comparacíon de medias para muestras apareadas (NO parametrico)

### 0. Machete con librerías a utilizar

 1. **pandas:** Proporciona estructuras de datos rápidas y flexibles para la manipulación de datos tabulares.
import pandas as pd

 2. **scipy.stats:** Módulo estadístico de SciPy que incluye diversas funciones y pruebas estadísticas.
    - ttest_1samp: Prueba t para una muestra.
    - ttest_ind: Prueba t independiente entre dos muestras.
    - chi2_contingency: Prueba de chi-cuadrado para tablas de contingencia.
    - fisher_exact: Prueba exacta de Fisher para tablas 2x2.
    - wilcoxon: Prueba de rangos con signo de Wilcoxon para datos emparejados.
    - ranksums: Prueba de suma de rangos de Wilcoxon-Mann-Whitney para dos muestras independientes.
    
    from scipy.stats import ttest_1samp, ttest_ind, chi2_contingency, fisher_exact, wilcoxon, ranksums

 3. **matplotlib.pyplot:** Biblioteca para generar visualizaciones gráficas (gráficos de líneas, barras, etc.).
import matplotlib.pyplot as plt

 4. **seaborn:** Biblioteca de visualización de datos que facilita la creación de gráficos estadísticos complejos.
import seaborn as sns

 5. **numpy:** Proporciona soporte para arreglos multidimensionales y funciones matemáticas eficientes.
import numpy as np

 6. **pingouin:** Biblioteca estadística para análisis robusto y fácil de usar.
import pingouin as pg

## 1.Tests de Hipotesís parametricos

In [1]:
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind

In [2]:
LOWBWT= pd.read_excel("data/LOWBWT.xlsx")

In [3]:
LOWBWT.head()

   ID  LOW  AGE  LWT  RACE  SMOKE  PTL  HT  UI  FTV   BWT
0   4    1   28  120     3      1    1   0   1    0   709
1  10    1   29  130     1      0    0   0   1    2  1021
2  11    1   34  187     2      1    0   1   0    0  1135
3  13    1   25  105     3      0    1   1   0    0  1330
4  15    1   25   85     3      0    0   0   1    0  1474

In [4]:
LOWBWT.dtypes

ID       int64
LOW      int64
AGE      int64
LWT      int64
RACE     int64
SMOKE    int64
PTL      int64
HT       int64
UI       int64
FTV      int64
BWT      int64
dtype: object

In [5]:
LOWBWT[['AGE','LWT','BWT']].describe()

              AGE         LWT          BWT
count  189.000000  189.000000   189.000000
mean    23.238095  129.814815  2944.656085
std      5.298678   30.579380   729.022417
min     14.000000   80.000000   709.000000
25%     19.000000  110.000000  2414.000000
50%     23.000000  121.000000  2977.000000
75%     26.000000  140.000000  3475.000000
max     45.000000  250.000000  4990.000000

### Problema 1
### Comparacion de la media poblacional contra un valor fijo

Conocemos el promedio de nuestra muestra el cual es

In [6]:
print(LOWBWT["AGE"].mean())

23.238095238095237

Se busca poder afirmar si la media poblacional de las madres es 23

In [7]:
# One-sample t-test
ttest_1samp(LOWBWT['AGE'], 23)

TtestResult(statistic=0.617751898620659, pvalue=0.5374864692542367, df=188)

In [8]:
# Lo mismo pero presentado en una forma mas estetica
tstat, pval = ttest_1samp(LOWBWT['AGE'], 23,alternative='two-sided')
print("One-sample t-test:")
print("t-statistic:", tstat)
print("p-value:", pval)

One-sample t-test:
t-statistic: 0.617751898620659
p-value: 0.5374864692542367

Especificandolo o no, hemos realizado el test de hipotesis contra H1 "two-sided" es decir, la hipotesis alternativa es que la media poblacional pueda ser tanto mayor como menor a 23.

**Obtenemos como resultado que no podemos rechazar la hipotesis nula de que 23 sea la media poblacional**

In [9]:
ttest_1samp(LOWBWT['AGE'], 23, alternative='greater')

TtestResult(statistic=0.617751898620659, pvalue=0.26874323462711835, df=188)

Cuando nuesta hipotesis alternativa es que la media sea mayor a 23, tampoco podemos rechazar la hipotesis nula, pero el grado de significacian= es menor

In [10]:
ttest_1samp(LOWBWT['AGE'], 23, alternative='less')

TtestResult(statistic=0.617751898620659, pvalue=0.7312567653728816, df=188)

Finalmente, tenemos mas de un 73% de probabilidades de equivocarnos al afirmar que la media poblacional no es igual o mayor a 23

### Conclusión.
Los 3 tests nos confirman que no existe evidencia estadistica para afirmar a partid de esta muestra, que la media poblacional de las madres no sea 23.

### Problema 2
### Comparacion de medias de dos muestras independientes

In [11]:
tstat, pval = ttest_ind(LOWBWT['AGE'][LOWBWT['LOW'] == 0], LOWBWT['AGE'][LOWBWT['LOW'] == 1])
print("Independent two-sample t-test:")
print("t-statistic:", tstat)
print("p-value:", pval)

Independent two-sample t-test:
t-statistic: 1.638098209333269
p-value: 0.10308272124541072

#### Cuidado!
**Si no se especifica, Python entiende que ambos grupos cuentan con igualdad de varianza. en este caso, las varianzas no son iguales**

In [12]:
LOWBWT.groupby('LOW')['AGE'].agg(['mean', 'std', 'var'])

          mean       std        var
LOW
0    23.661538  5.584522  31.186881
1    22.305085  4.511496  20.353594

Mas adelante testearemos si la diferencia en la varianza es significativa o no con un test de Levene, pero por el momento, asumamos que es una diferencia significativa. Es necesario especificar esto en Python para que ejecute un "Welchs t - test" y obtengamos un resultado mas apropiado

In [13]:
tstat, pval = ttest_ind(LOWBWT['AGE'][LOWBWT['LOW'] == 0], LOWBWT['AGE'][LOWBWT['LOW'] == 1], equal_var=False)
print("Independent two-sample welch s t-test:")
print("t-statistic:", tstat)
print("p-value:", pval)

Independent two-sample welch s t-test:
t-statistic: 1.7736721740512977
p-value: 0.07834003320663521

**Trabajando con un nivel de significancia del 95% no podemos afirmar que las medias de las edades de las madres que tuvieron hijos por debajo y por sobre el umbral de bajo peso sean distintas.
En otras palabras, La edad de las madres pareceria no ser un factor de alta incidencia en los nacimientos con bajo peso**

## 2.Test de hipotesis no parametricos

**lectura y preparacion preliminar de datos**

In [14]:
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import numpy as np
from scipy.stats import chi2_contingency, fisher_exact

In [15]:
aprobacion = pd.read_excel("data/aprobacion.xlsx")

In [16]:
aprobacion.head()

,pais,anio,trimestre,presidente,presidente_genero,aprobacion_neta,pib,corrupcion,poblacion,desempleo,crecimiento_pib
0,Argentina,2000,1,Fernando de la Rúa,Masculino,40.125999,14.015253,5.521512e+11,37057452,15.000000,-0.8
1,Argentina,2000,2,Fernando de la Rúa,Masculino,16.389999,14.015253,5.521512e+11,37057452,15.000000,-0.8
2,Argentina,2000,3,Fernando de la Rúa,Masculino,23.968000,14.015253,5.521512e+11,37057452,15.000000,-0.8
3,Argentina,2000,4,Fernando de la Rúa,Masculino,-18.254000,14.015253,5.521512e+11,37057452,15.000000,-0.8
4,Argentina,2001,1,Fernando de la Rúa,Masculino,-6.973000,14.015253,5.278078e+11,37471509,18.299999,-4.4

In [17]:
#seteamos para que todos los float muestren solo 2 decimales
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

En clases pasadas, vimos que la columna pib no tenia mucho sentido,
y la columna corrupcion que debiera tomar valores entre 0 y 100 en relaidad mostraba numeros largos en notacion cientifica,
llegamos a la conclusion de que hay un error en los datos y que si intercmabiamos los valores de dichas columnas todo parece tener mas sentido.

In [18]:
# Renombrar las columnas cruzadas
aprobacion.rename(columns={'corrupcion': 'temp', 'pib': 'corrupcion'}, inplace=True)
aprobacion.rename(columns={'temp': 'pib'}, inplace=True)

In [19]:
aprobacion.head()

,pais,anio,trimestre,presidente,presidente_genero,aprobacion_neta,corrupcion,pib,poblacion,desempleo,crecimiento_pib
0,Argentina,2000,1,Fernando de la Rúa,Masculino,40.13,14.02,552151219031.11,37057452,15.00,-0.80
1,Argentina,2000,2,Fernando de la Rúa,Masculino,16.39,14.02,552151219031.11,37057452,15.00,-0.80
2,Argentina,2000,3,Fernando de la Rúa,Masculino,23.97,14.02,552151219031.11,37057452,15.00,-0.80
3,Argentina,2000,4,Fernando de la Rúa,Masculino,-18.25,14.02,552151219031.11,37057452,15.00,-0.80
4,Argentina,2001,1,Fernando de la Rúa,Masculino,-6.97,14.02,527807756978.58,37471509,18.30,-4.40

In [20]:
aprobacion[["corrupcion","pib"]].describe()

       corrupcion              pib
count     1020.00          1020.00
mean        43.35  411402368992.31
std         26.90  687789664894.59
min          2.13   17373017701.64
25%         19.57   40130146628.88
50%         39.98   91972026249.69
75%         66.62  400986433731.57
max         94.42 3139626109942.67

In [21]:
### Recategorización de varibales

In [22]:
aprobacion["crecimiento_pib"].describe()

count   1020.00
mean       3.77
std        3.54
min      -10.90
25%        2.31
50%        4.06
75%        5.63
max       18.29
Name: crecimiento_pib, dtype: float64

Aplicamos la funcion describe para tener una idea de la distribucíon de la variable, y tener un criterio en el cual basarnos para recategorizarla como haremos a continuación

In [23]:
# Función para categorizar el crecimiento
def categorizar_crecimiento(crecimiento):
    if crecimiento < -2:
        return "desastre"
    elif -2 <= crecimiento < 0:
        return "malo"
    elif 0 <= crecimiento < 2.309:
        return "flojo"
    elif 2.309 <= crecimiento <= 5.63:
        return "promedio"
    elif 5.63 < crecimiento < 10:
        return "locura"
    else:
        return "wtf"

In [24]:
# Aplicar la función a la columna "crecimiento_pib" y crear la nueva columna
aprobacion['tipo_crecimiento'] = aprobacion['crecimiento_pib'].apply(categorizar_crecimiento)

In [25]:
print(aprobacion[["crecimiento_pib","tipo_crecimiento"]].head())
print(aprobacion[["crecimiento_pib","tipo_crecimiento"]].tail())

   crecimiento_pib tipo_crecimiento
0            -0.80             malo
1            -0.80             malo
2            -0.80             malo
3            -0.80             malo
4            -4.40         desastre
      crecimiento_pib tipo_crecimiento
1015             1.34            flojo
1016            -3.89         desastre
1017            -3.89         desastre
1018            -3.89         desastre
1019            -3.89         desastre

In [26]:
aprobacion[aprobacion["tipo_crecimiento"]== "wtf"].head()
#Nada mas aplicamos esta función porque nos genera intriga saber 
#cuales son algunos de esos años con el crecimiento mas grande de la serie

,pais,anio,trimestre,presidente,presidente_genero,aprobacion_neta,corrupcion,pib,poblacion,desempleo,crecimiento_pib,tipo_crecimiento
40,Argentina,2010,1,Cristina Fernández de Kirchner,Femenino,-18.48,52.37,771384011261.41,41223889,8.28,10.10,wtf
41,Argentina,2010,2,Cristina Fernández de Kirchner,Femenino,-3.43,52.37,771384011261.41,41223889,7.85,10.10,wtf
42,Argentina,2010,3,Cristina Fernández de Kirchner,Femenino,-5.47,52.37,771384011261.41,41223889,7.44,10.10,wtf
43,Argentina,2010,4,Cristina Fernández de Kirchner,Femenino,29.83,52.37,771384011261.41,41223889,7.29,10.10,wtf
748,Panamá,2007,1,Martín Torrijos,Masculino,38.02,11.43,48374617539.00,3453807,6.40,12.10,wtf

In [27]:
anual_aprobacion = aprobacion[aprobacion["trimestre"]==4]

In [28]:
anual_aprobacion.head()

,pais,anio,trimestre,presidente,presidente_genero,aprobacion_neta,corrupcion,pib,poblacion,desempleo,crecimiento_pib,tipo_crecimiento
3,Argentina,2000,4,Fernando de la Rúa,Masculino,-18.25,14.02,552151219031.11,37057452,15.00,-0.80,malo
7,Argentina,2001,4,Fernando de la Rúa,Masculino,-23.18,14.02,527807756978.58,37471509,18.30,-4.40,desastre
11,Argentina,2002,4,Eduardo Alberto Duhalde,Masculino,-16.83,25.00,470305820970.43,37889370,17.90,-10.90,desastre
15,Argentina,2003,4,Néstor Carlos Kirchner,Masculino,52.97,50.15,511866938234.46,38309379,14.45,8.80,locura
19,Argentina,2004,4,Néstor Carlos Kirchner,Masculino,44.90,50.15,558086338624.30,38728696,12.00,9.00,locura

### Problema 3
### Comparación entre varibales categoricas

In [29]:
# Crear la tabla de contingencia
contingency_table = pd.crosstab(anual_aprobacion['tipo_crecimiento'], anual_aprobacion['presidente_genero'])
print("Tabla de contingencia:")
print(contingency_table)

Tabla de contingencia:
presidente_genero  Femenino  Masculino
tipo_crecimiento
desastre                  2         14
flojo                     6         30
locura                    2         54
malo                      2         10
promedio                 11        117
wtf                       1          6

In [30]:
# Realizar la prueba de chi-cuadrado
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

print("Estadístico de chi-cuadrado:", chi2_stat)
print("p-valor:", p_value)
print("Grados de libertad:", dof)
print("Tabla de frecuencias esperadas:")
print(expected)

Estadístico de chi-cuadrado: 5.678052648616264
p-valor: 0.33881640558402326
Grados de libertad: 5
Tabla de frecuencias esperadas:
[[  1.50588235  14.49411765]
 [  3.38823529  32.61176471]
 [  5.27058824  50.72941176]
 [  1.12941176  10.87058824]
 [ 12.04705882 115.95294118]
 [  0.65882353   6.34117647]]

**Cuidado!** hay frecuencias esperadas menores a 5. Esta particularidad puede hacer fallar al test de Chi cuadrodo
Debemos emplear entonces:  
  El test exacto de Fischer [para tablas 2x2]  
  El coeficiente de V de cramer [ante la presencia de mas categorias]

No se encuentra facilmente una función en Python para hallar el estadisitico V de Cramer,
pero encontre esta funcion en internet que lo calcula.

In [31]:
def cramerVgof(chi2Value, nCases, nCat, correction=None):        
    n = nCases
    k = nCat
    df =  k-1
    if correction==None:
        CramerV = (chi2Value/(n*df))**0.5
    elif correction=='Bergsma':
        phi2 = chi2Value / n        
        phi2Mean = max(0, phi2 - (k-1)/(n-1))
        kMean = k - (k-1)**2/(n-1)        
        CramerV = (phi2Mean / (kMean - 1))**0.5
    return CramerV

In [32]:
print(cramerVgof(5.678052648616264, 255, 6))

0.06673360942108329

![cramer](img/cramer.jpg)

Como estamos trabajando con 5 grados de libertad, ya que tenemos 6 filas distintas en nuestra tabla de contingencia y 
df= filas-1. el V de cramer obtenido nos indica que el grado de dependencia entre la variable genero del presidente y tipo de crecimiento esta entre pequeño e insignificante.

## 3. Ensayo: Tests parametricos VS no parametricos

In [33]:
import pingouin as pg
from scipy.stats import wilcoxon,ranksums

En esta clase, vamos a resolver el mismo problema utilizando test parametricos y no parameticos

### problema 2 (nuevamente)
#### Comparación de medias para 2 muestras independientes
Se sospecha que una empresa lleva a cabo una política de discriminación, con respecto al sexo, en los sueldos de sus 
empleados. 
Se seleccionaron 12 empleados masculinos y 12 femeninos de entre los que tienen responsabilidades y experiencias 
similares en el trabajo; sus salarios anuales en miles de dólares son los siguientes:

In [34]:
# Datos de salarios
salarios = pd.DataFrame({
    'sala': [22.5, 19.8, 20.6, 24.7, 23.2, 19.2, 18.7, 20.9, 21.6, 23.5, 20.7, 21.6,
             21.9, 21.6, 22.4, 24.0, 24.1, 23.4, 21.2, 23.9, 20.5, 24.5, 22.3, 23.6],
    'sexo': pd.Categorical(['mujer'] * 12 + ['varón'] * 12)
})

### d.I. Test parametrico para comparación de medias independientes

### test t de comparación de medias independientes

In [48]:
# Test t de comparación de medias independientes
t_test_result = pg.ttest(salarios[salarios['sexo'] == 'mujer']['sala'],
                         salarios[salarios['sexo'] == 'varón']['sala'])
t_test_result

           T  dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test -2.12   22   two-sided   0.05  [-2.7, -0.03]     0.87  1.772   0.53

### medicion del tamaño del efecto (D de Cohen)

In [51]:
# Seleccionar los valores de sala por sexo
sala_mujer = salarios[salarios['sexo'] == 'mujer']['sala']
sala_varon = salarios[salarios['sexo'] == 'varón']['sala']

# Tamaño del efecto (Cohen's d) usando los valores numéricos
cohens_d = pg.compute_effsize(sala_mujer, sala_varon, eftype='cohen')
print("Cohen's d:", cohens_d)

Cohen's d: -0.8672515665261484

### Test no parametrico para comparación de medias independientes

### Wilcoxon rank-sum test o test de Mann-whitney

In [47]:
# Test no paramétrico de comparación de medias independientes (Wilcoxon rank-sum test)
wilcox_result = ranksums(salarios[salarios['sexo'] == 'mujer']['sala'],
                          salarios[salarios['sexo'] == 'varón']['sala'])
print('W-statistic:', wilcox_result.statistic)
print('p-value:', wilcox_result.pvalue)

RanksumsResult(statistic=-1.9052558883257649, pvalue=0.05674681648938142)

In [38]:
# NO ENCUENTRO FUNICON DE TAMAÑO DEL EFECTO

### Problema 4:
### Comparacíon de medias para muestras apareadas

In [39]:
# Datos de hijos (Muestras apareadas)
hijos = pd.DataFrame({
    'numero': [3, 2, 1, 0, 0, 1, 2, 2, 2, 0, 2, 3, 2, 2, 0, 2, 1, 3, 1, 2],
    'sexo': pd.Categorical(['mujer'] * 10 + ['varón'] * 10)
})

### f.I. Comparacíon de medias para muestras apareadas (parametrico)

In [45]:
# Test t de muestras apareadas
paired_t_test = pg.ttest(hijos[hijos['sexo'] == 'mujer']['numero'],
                         hijos[hijos['sexo'] == 'varón']['numero'], paired=True)
paired_t_test

           T  dof alternative  p-val          CI95%  cohen-d   BF10  power
T-test -1.34    9   two-sided   0.21  [-1.34, 0.34]     0.50  0.626   0.30

In [41]:
# Filtrar los datos para calcular el tamaño del efecto
numero_mujer = hijos[hijos['sexo'] == 'mujer']['numero'].values
numero_varon = hijos[hijos['sexo'] == 'varón']['numero'].values

# Tamaño del efecto (Cohen's d para muestras apareadas)
paired_cohens_d = pg.compute_effsize( numero_varon,numero_mujer, eftype='cohen', paired=True)
print('Paired Cohen\'s d:', paired_cohens_d)

Paired Cohen's d: 0.5042194840896107

### f.II. Comparación de medias para muestras apareadas (NO parametrico)

In [44]:
# Test no paramétrico de muestras apareadas (Wilcoxon signed-rank test)
paired_wilcox = pg.wilcoxon(x=numero_mujer, y=numero_varon)
paired_wilcox

          W-val alternative  p-val   RBC  CLES
Wilcoxon  12.00   two-sided   0.21 -0.47  0.36

In [43]:
# NO ENCUENTRO FUNCION DE TAMAÑO DEL EFECTO

## Conclusiones  
### Cuando usar uno u otro metodo
#### Prueba T
* Poblaciones con distribución normal
* Muestras de gran tamaño

#### Prueba del signo de Wilcoxon
* Variables cuantitativas no normales
* Variables cuantitativas con distribución asimétrica
* Muestras pequeñas donde no se pueda chequear normalidad
* Variables ordinales