EJERCICIOS DE SUMATORIA

In [3]:
caso1 = 1**2 + 2**2 + 3**2 + 4**2 + 5**2 + 6**2 + 7**2 + 8**2 + 9**2 +10**2 + 11**2 + 12**2 + 13**2 + 14**2 + 15**2
caso1

1240

In [4]:

caso1 = 0
for x in range(1, 16):
    caso1 += x**2

caso1

1240

In [43]:
a = 2
caso2 = sum(x * a for x in range(1, 5))
print(caso2)

print(1*2+2*2+3*2+4*2)

20
20

ej 2

In [11]:
observaciones = (2, 3, 1, 2, 2, 4, 8, 5, 5, 3, 4, 6, 3, 5, 0)

In [14]:
caso1=0
caso1 = sum(observaciones)
caso1

53

In [13]:
caso2=sum(x**2 for x in observaciones[:5])
caso2

22

In [17]:
caso3=sum(x for x in observaciones[4:8])
caso3

19

In [18]:
caso4=sum(x*3 for x in observaciones[9:13])
caso4

48

In [23]:
caso5=sum(x for x in observaciones[:4])/sum(x for x in observaciones[1:8])
caso5

0.32

In [28]:
caso6= sum(observaciones[i] ** (i + 1) for i in range(3))
caso6

12

Ejercicios de distribucion

In [31]:
import numpy as np
import pandas as pd

1. calcular la frecuencia acumulada

In [34]:
data = {
    'xi': [1, 2, 3, 4, 5, 6],
    'ni': [12, 48, 12, 36, 6, 6]
}
df = pd.DataFrame(data)

df['Ni'] = df['ni'].cumsum()

df

   xi  ni   Ni
0   1  12   12
1   2  48   60
2   3  12   72
3   4  36  108
4   5   6  114
5   6   6  120

In [36]:
data = {
    'xi': [1, 2, 3, 4, 5, 6],
    'fi': [0.10, 0.40, 0.10, 0.30, 0.05, 0.05]
}
df = pd.DataFrame(data)

# Calcular el modo, la mediana y el promedio (media ponderada)
moda = df.loc[df['fi'].idxmax(), 'xi']  # El modo es el xi con mayor frecuencia
mediana = df.loc[(df['fi'].cumsum() >= 0.5).idxmax(), 'xi']  # Mediana cuando la acumulada pasa 0.5
promedio = (df['xi'] * df['fi']).sum()  # Promedio ponderado

print(f"Modo: {moda}")
print(f"Mediana: {mediana}")
print(f"Promedio: {promedio}")

Modo: 2
Mediana: 2
Promedio: 2.95